
.hn-badge {
    display: inline;
    box-sizing: border-box;

    padding: 0.1em;
    border-radius: 20px;

    font-weight: 900;
    text-align: center;
    color: #fff;
    background-color: #aaa;
}
