
html {
    background-color: #DFDFDF;
}

body {
    font-size: 100%;
}

h1 {
    font-size: 1em;
}

header {
    display: flex;
    align-items: baseline;
    font-weight: bold;
    background-color: #DFDFDF;

    section {

        flex: 1;

        &:first-child {
            flex-grow: 2;
            padding: 0.2em 0 0.2em 0.5em;
        }

        &:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }
}

#container {
}

.hn-main {
    display: flex;
    flex: 1;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}
