
.hn-item {

    padding: 0.2em;
    border-bottom: 1px solid #CCC;
    background-color: #FFF;
    font-size: 0.8em;
    word-break: break-all;

    .text {
        display: flex;
        align-items: center;
    }

    .hn-badge {
        flex: 0 0 40px;
    }

    .comment-count {
        border: none;
        background-color: transparent;
        color: #A00D0D;
        cursor: pointer;
        font-weight: 600;

        &:focus {
            outline: 0;
        }
    }

    .title {
        padding: 0.5em;
    }

    .sub {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;

        font-style: italic;
        font-size: 0.7em;

        a {
            color: #A00D0D;
            font-size: 1.2em;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    a {
        font-weight: 600;
        color: #000;
        text-decoration: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.hn-comment {

    .block {
        display: inline-block;
        outline: 1px solid green;
        width: 1ex;
        height: 100%;
    }

    &:hover {
        background-color: #FFF;
    }
}
