
.hn-item {

    padding: 0.2em;
    border-bottom: 1px solid #CCC;
    background-color: #FFF;
    font-size: 0.8em;

    .text {
        display: flex;
        align-items: center;
    }

    .hn-badge {
        flex: 0 0 40px;
    }

    .comment-count {
        color: #A00D0D;
    }

    .title {
        padding: 0.5em;
    }

    .sub {
        display: flex;
        justify-content: flex-end;

        font-style: italic;
        font-size: 0.7em;
    }

    a {
        font-weight: 600;
        color: #000;
        text-decoration: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
